// https://github.com/element-plus/element-plus/blob/dev/packages/theme-chalk/src/common/var.scss
// 自定义Element 亮色主题

@forward 'element-plus/theme-chalk/src/common/var.scss' //
    with (
    $colors: (
        'white': #ffffff,
        'black': #000000,
        'primary': (
            'base': #0052d9
        ),
        'success': (
            'base': #2ba471
        ),
        'warning': (
            'base': #ffae1f
        ),
        'danger': (
            'base': #d54941
        ),
        'error': (
            'base': #e37318
        )
    ),
    $messagebox: (
        'border-radius': '12px'
    ),
    $popover: (
        'padding': '14px',
        'border-radius': '10px'
    )
);

@use 'element-plus/theme-chalk/src/index.scss' as *;
